body {
    background: linear-gradient(90deg, rgba(31,31,31,1) 0%, rgba(53,59,78,1) 100%);
    margin: 0 auto;
}

.App {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    padding: 10px 64px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
