packages:
- name: lander
  shared: false
  functions:
  - name: signups
    runtime: go:1.20
    web: true
    limits:
      memory: 128
    environment:
      BUCKET: ${BUCKET}
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
